body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.skip-color{
    color:orange;
}
h1{
    font-size: 50px;

}
h2{
    font-size: 40px;

}
h3{
    font-size: 30px;
    text-align: center;
}
h4{
    text-align: center;
}
.half-width{
    width: 50%;
    padding-left: 2%;
  
}
.flexible-container{
    display:flex;
    margin-bottom: 100px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color:white ;
    font-weight: 700;
    border-radius: 5px;
}
.about-me{
    text-align: center;
    color: orangered;
}
.middle-me{
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.top-image{
    width:100%;
}
.about-image{
    margin-left:30%;
    width:60%
}
.title-one{
    font-size: 30px;
    font-weight: bold;
    color:red;
}
.title-item{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow:10px 10px 30px grey;
    border-radius: 10px;
}
.recipie-img{
    width:90%;
    margin-top: 20px;
    border-radius: 30px;
}
.recipie-title{
    color: rebeccapurple;
}
footer p{
    text-align: center;
    color: white;
    font-size: 10px;
    font-style: italic;

}
footer{
    background-color: black;
    padding-top: 10px;
    padding-bottom:10px;
    padding-right: 10px;
    padding-left: 10px;
}
.food-web{
    color: tomato;
}
.web-name{
    color:white;
}
.food-name{
    text-align: right;
}